# Methods

We've already seen a few example of methods when learning about Object and Data Structure Types in Python. Methods are essentially functions built into objects. Later on in the course we will learn about how to create our own objects and methods using Object Oriented Programming (OOP) and classes.


Methods are in the form:

    object.method(arg1,arg2,etc...)
    

Let's take a quick look at what an example of the various methods a list has:

In [4]:
# Create a simple list
lst = [1,2,3,4,5]

Fortunately, with iPython and the Jupyter Notebook we can quickly see all the possible methods using the tab key. The methods for a list are:

* append
* count
* extend
* insert
* pop
* remove
* reverse
* sort

Let's try out a few of them:


# How to see All the Methods for your object
**If you are in Colab just type  `object.`  and it will Autocomplete and show all the Methods that are available for your Object
If you are in Jupyter Press `Tab`**

In [5]:
lst.   # Delete this (.) dot   and type it again then wait for Auto complete or Press tab in jupyter

SyntaxError: invalid syntax (<ipython-input-5-a239d47ef165>, line 1)

In [6]:
lst

[1, 2, 3, 4, 5]

Great! Now how about count()? The count() method will count the number of occurrences of an element in a list.

In [9]:
# Check how many times 2 shows up in the list
lst.count(4)

1

# Functions

Let's see how to build out a function's syntax in Python. It has the following form:

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

### Example 1: A simple print 'hello' function

In [10]:
def say_hello():
    print('hello')

Call the function:

In [11]:
say_hello()

hello

### Example 2: A simple greeting function
Let's write a function that greets people with their name.

In [12]:
def greeting(name):
    print('Hello %s' %(name))

In [13]:
greeting('نحمده')

Hello نحمده

## Using return
Let's see some example that use a <code>return</code> statement. <code>return</code> allows a function to *return* a result that can then be stored as a variable, or used in whatever manner a user wants.

### Example 3: Addition function

In [14]:
def add_num(num1,num2):
    return num1+num2

In [15]:
add_num(4,5)

9

In [16]:
# Can also save as variable due to return
result = add_num(4,5)

In [17]:
print(result)

9

What happens if we input two strings?

In [19]:
add_num('one','two')

'onetwo'

In [20]:
add_num(1,'two')

TypeError: unsupported operand type(s) for +: 'int' and 'str'


Finally let's go over a full example of creating a function to check if a number is prime (a common interview exercise).

We know a number is prime if that number is only evenly divisible by 1 and itself. Let's write our first version of the function to check all the numbers from 1 to N and perform modulo checks.

In [26]:
def is_prime(num):
    '''
    Naive method of checking for primes. 
    '''
    for n in range(2,num):
        print(n)
        if num % n == 0:
            print(num,'is not prime')
            break
    else: # If never mod zero, then prime
        print(num,'is prime!')

In [27]:
is_prime(17)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17 is prime!

In [ ]:
is_prime(17)

17 is prime!

In [28]:
is_prime2(18)

NameError: name 'is_prime2' is not defined

Great! You should now have a basic understanding of creating your own functions to save yourself from repeatedly writing code!

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Challenge One - Normal Package
Build a Function that takes an input string and Character 
and returns the Index of everytime that Character Appears 
e.g. 

Input : 'abcabcabc' , 'c' 

Output :[2,5,8]

In [36]:
#first have a look on function find 

x='abcabcabc'
y=x.find('c',3)    # it returns only the First Occurance Index ! - First time 'c' appears is in index 2
y

5

In [1]:
def find_first_index(searched_str,letter):
    for (x,l) in enumerate(searched_str):
        if l== letter:
            return x
    return -1

In [3]:
find_first_index('hello','l')

2

**Use function `find()` and  `set()` to help you**

In [34]:
#Build your Function here 
def find_all_index(searched_str,letter):
                   return list(z for (z,w) in enumerate(x)if w==letter )

In [35]:
find_all_index(x,'c')

[2, 5, 8]

In [37]:
def find_all_index2(searched_str,letter):
    r_set=set()
    for x in enumerate(searched_str):
        r_set=searched_str.find(letter,x)
    return r_set

In [38]:
find_all_index(x,'c')

[2, 5, 8]

# Challenge One - Master Package
Build The Same finding Function but this time without using `find` neither `set`
Input : 'abcabcabc' , 'c' 

Output :[2,5,8]

**DON'T USE:  function `find()` and  `set()`**

In [ ]:
#Build your Function here

# Nested Statements and Scope 

Now that we have gone over writing our own functions, it's important to understand how Python deals with the variable names you assign. When you create a variable name in Python the name is stored in a *name-space*. Variable names also have a *scope*, the scope determines the visibility of that variable name to other parts of your code.

Let's start with a quick thought experiment; imagine the following code:

In [40]:
x = 25

def printer():
    x = 50
    return x

print(x)
print(printer())
print(x)

25
50
25

![alt text](https://boostupsocial.com/wp-content/uploads/2018/01/Question-Mark-280x280.png)

What do you imagine the output of printer() is? 25 or 50? What is the output of print x? 25 or 50?

***Go and Unhash them all***

In [41]:
print(x)

25

In [42]:
print(printer())

50

## Local and Global Variables
When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the scope of the variable. All variables have the scope of the block they are declared in starting from the point of definition of the name.

**Using `global` declaration can flip the table and change the Variable on the top of the function**

Examples:-

In [43]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

In [44]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

The <code>global</code> statement is used to declare that **x** is a global variable - hence, when we assign a value to **x** inside the function, that change is reflected when we use the value of **x** in the main block.

You can specify more than one global variable using the same global statement e.g. <code>global x, y, z</code>.

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Functions and Methods Assessment

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [45]:
def ran_check(num,low,high):
    print("{} is in the range between {} and {}".format(num,low,high))

In [46]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

If you only wanted to return a boolean:

In [47]:
def ran_bool(num,low,high):
    return low<num<high
    #pass

In [48]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [50]:
def up_low(s):
    upper_char=0
    lower_char=0
    upper_char=len(list(w for w in s if w.isupper()))
    lower_char=len(list(w for w in s if w.islower()))
    print("Original String : {}".format(s))
    print("No. of Upper case charachters: {}".format(upper_char))
    print("No. of Lower case charachters: {}".format(lower_char))

In [51]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case charachters: 4
No. of Lower case charachters: 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [56]:
def unique_list(lst):
    return list(set(lst))
    #pass

In [57]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [60]:
from functools import reduce
def multiply(numbers):  
    return reduce(lambda x,y:x*y,numbers)

In [61]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [66]:
def palindrome(s):
    lst_reverse=[]
    lst=[]
    for (i,x) in enumerate(s):
        lst_reverse.append(s[len(s)-1-i])
        lst.append(s[len(s)-1-i])
    result=True
    for (w,q) in list(zip(lst_reverse,lst)):
        if w!=q:
            result=False
            break
    return result

In [67]:
palindrome('helleh')

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [77]:
def has_33(nums):
    result =False
    for (i,x) in enumerate(nums):
        if(i+1 < len(nums)):
            if x==3 and nums[i+1]==3:
                result=True
                break
    return result

In [78]:
# Check
has_33([1, 3, 3])

True

In [79]:
# Check
has_33([1, 3, 1, 3])

False

In [80]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [88]:
from functools import reduce
def paper_doll(text):
    return reduce(lambda x,y:x+y,list(c*3 for c in text))

In [84]:

#list(c*3 for c in 'Hello')
from functools import reduce
reduce(lambda x,y:x+y,list(c*3 for c in 'Hello'))

'HHHeeellllllooo'

In [89]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [90]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [104]:
def blackjack(a,b,c):
    z=None
    if 0<a<12 and 0<b<12 and 0<c<12:
        z=a+b+c
        if z>22 and (a==11 or b==11 or c==11):
            z-=10
        if z>21:
            z="BUST"
    else:
        z="range must be between 1 and 11"
    return z

In [105]:
# Check
blackjack(5,6,7)

18

In [106]:
# Check
blackjack(9,9,9)

'BUST'

In [107]:
# Check
blackjack(9,9,11)

19

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

# Challenge Two 
Build a Customized Split Function with **two Options **


---




> ***Option One :*** Splitting at first Occurance Only

Input: 'Abo Khayria byslem 3lyk', 'b'

Output :  ['A','o Khayria byslem 3lyk']


---



> ***Option two :*** Splitting  Every time the Character Appears


Input: 'Abo Khayria byslem 3lyk', 'b'

Output :  ['A','o Khayria ','yslem 3lyk']


---




### Don't Use `split` function , you are allowed to grab your Customized Find Function

In [118]:
# Type your Code Here 
#with first option 
def split_fun(s,letter):
    x=s.find(letter)
    lst=[]
    lst.append(s[:x])
    lst.append(s[x+1:])
    return lst

In [4]:
def split_At_all(s,letter):
    lst=[]
    while True:
        x=find_first_index(s,letter) 
        if x>-1:
            lst.append(s[:x])
            s=s[x+1:]
        else:
            lst.append(s)
            break
    
    return lst

#### Great Job!

In [119]:
split_fun( 'Abo Khayria byslem 3lyk', 'b')

['A', 'o Khayria byslem 3lyk']

In [5]:
split_At_all('Abo Khayria byslem 3lyk', 'b')

['A', 'o Khayria ', 'yslem 3lyk']