Welcome to your First Interactive Coding Tutorial from ***Electro Pi***

![alt text](https://blog.paradisetechsoft.com/content/images/size/w2000/2019/05/why-python.jpg)

Python is Considered as the Language of Deep Learning, Get Ready to Dive!
# Why Google Colab ?
    1.) No Installing required.
    2.) You can use it from any Device even from Mobile Phone!
    3.) Quick and Effective.

# Numbers and more in Python!

In this Section, We will learn about numbers in Python and how to use them. 

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python.
    5.) Challenge One.

## 1.) Types of Numbers

في أنواع مختلفة عندنا من الأرقام في البايثون ولكن احنا هنركز على نوعين أساسيين  
* Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

للأرقام الصحيحة

* Floating point numbers in Python are notable because they have a decimal point in them.

للأرقام العشرية 

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

## Basic Arithmetic      العمليات الحسابية البسيطة

In [3]:
# Addition جمع
2+1

3

In [4]:
# Subtraction  طرح
2-1

1

In [5]:
# Multiplication  ضرب
2*2

4

In [ ]:
# Division  قسمة عادية
7/4

In [ ]:
# Floor Division قسمة بدون باقي 
7//4

In [6]:
# Modulo   باقي القسمة
7%4

3

In [7]:
# Power   الأس
2**3

8

In [8]:
5**4

625

In [10]:
# Can also do roots this way     الجذور التربيعية والتكعيبية ... الخ
4**0.3

1.515716566510398

In [11]:
# Order of Operations followed in Python    لو محطتش أقواس.... الضرب والقسمة هيتعمل قبل الجمع والطرح
2 + 10 * 10 + 3

105

In [12]:
# Can use parentheses to specify orders    الأقواس بتفرق في النتيجة 
(2+10) * (10+3)

156

#### Variable Assignments  إدخال المتغيرات

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

In [13]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [14]:
# Adding the objects  جمع المتغيرات 
a+a

10

In [19]:
# Reassignment      يعتبر هنا كده بتخليه ينسى كل اللي كان موجود ويدخل قيمة 10 بس
a = 'dd'

In [18]:
# Check
a

'dd'

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

تقدر تدخل قيمة تتحط مكان القيمة اللي كانت موجودة عادي

In [20]:
# Check
a=10

In [ ]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

In [21]:
# Choose Memorable Names حاول تختار أسامي ممكن تفتكرها أثناء الكود 
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [22]:
# Show my taxes!  لو كتبت الاسم تاني هيرجعلك قيمته
my_taxes

10.0

# Variable Assignment

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`

اختيارك للأسامي مبيبقاش فيها مسافات وتقدر تستخدم الرموز اللي فوق دي  و ابعد بس عن ان يكون الاسم  
`list` و `str`

## Dynamic Typing  
الفكرة في كلمة ديناميك  إنه يقدر
  يدخل نوع من أنواع الداتا وبعدها يدخل نوع تاني خالص من الداتا في نفس المتغير


---


So Basically you can Assign Data in a varaible like Number then overwrite it with a String.

In [1]:
my_dogs = 2   # Integer

In [2]:
my_dogs

2

In [3]:
my_dogs = ['سعاد', 'She7ta'] # List Of Strings

In [4]:
my_dogs

['سعاد', 'She7ta']

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

سريعة وسهلة

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()` 

كونك بتغير بيأدي ان ممكن يطلع معاك مشاكل لانك فاكر ان نوع المجهول مختلف
فلازم تاخد بالك جدا ان مع كل ادخال للقيمة هيأثر معاك في 

`type()`

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [23]:
a= 5
type(a)

int

In [24]:
a='hi'
type(a)

str

In [25]:
a=['hi',5]
type(a)

list

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [26]:
a=10

In [27]:
a += 10  #  a=a+10

In [28]:
a

20

In [29]:
a *= 2  # a= a*2

In [30]:
a

40

## Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [31]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [32]:
my_taxes

10.0

##Challenge One [Normal Package]

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

Now it is your challenge , try to type this equation
and Give it a name called " Equation " 


![alt text](https://latex.codecogs.com/gif.latex?%5Cfrac%7BX%5E%7B3%7D&plus;2X-0.5x%5E%7B-3%7D%7D%7BX%5E%7B2%7D&plus;2*10%5E%7B-5%7D%7D)

After Typing this pass a value 10 for X and Show the Result of this " Equation "

**Note** :
You might get an Error while typing the Equation !  Pass it!

In [36]:
#Type your Code here
#Equation is function of x
x= 10
Equation =((x**3)+(2*x)-(0.5*(x**(-3))))/((x**2)+(2*(10**(-5))))
Equation 
#Correct The Error
#Answer Should be 10.1999

10.199992960001408

Great! You should now understand the basics of variable assignment and reassignment in Python.<br>Up next, we'll learn about strings!

##Challenge One [Master Package]

Now it is your challenge , try to Fix This  Error On your Own

In [38]:
X=50
Y=95
C=X # fix
z=Y-C # fix 
z +=5 # fix
z #Should Return 50

50

# Strings

In this Section we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [39]:
# Single word   كلمة واحدة
'hello'

'hello'

In [40]:
# Entire phrase جملة كاملة 
'This is also a string'

'This is also a string'

In [41]:
# We can also use double quote  ممكن تستخدم " "
"String built with double quotes"

'String built with double quotes'

In [42]:
# Be careful with quotes!  
' I'm using single quotes, but this will create an error'
'خد بالك ان دي مشكلة حصلت بسبب ان انت كنت عايز تستخدم الأبوستروف فهو البايثون بيفتكر ان كده الجملة الأولي انتهت وبالتالي كل اللي جاي بعدهاهو كده حاجات مش مفهومة بالنسبة له'

SyntaxError: invalid syntax (<ipython-input-42-e3ba118d9a11>, line 2)

In [44]:
'Now I"m ready to use the single quotes inside a string!'

'Now I"m ready to use the single quotes inside a string!'

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [45]:
# We can simply declare a string
'Hello World'

'Hello World'

In [46]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [47]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')   #\n  دي بالنسبة لنا معناها   new line 
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [49]:
len('Hello World.')

12

Python's built-in len() function counts all of the characters in the string, including **spaces and punctuation.**

المسافات والفصلات والحاجات دي كلها بتتعد

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [6]:
# Assign s as a string

s = 'Hello World'
#s=10

In [7]:
#Check
s

'Hello World'

In [56]:
# Print the object
print(s)

10

Let's start indexing!

In [59]:
# Show first element   هيرجعلك أول حرف 
s[0]

'H'

In [ ]:
#لاحظ ان البايثون بيبدأ العد من صفر
s[1]

In [60]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [9]:
# Grab everything past the first term all the way to the length of s which is len(s)
# رجعلي كل الحروف ماعدا أول حرف
s[2:]

'llo World'

In [62]:
# Note that there is no change to the original s
s

'Hello World'

In [17]:
# Grab everything UP TO the 3rd index
# رجع كل الحروف لحد قبل الخانة رقم 3 اللي هي الخانة الرابعة
s[-3:]

'rld'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [64]:
#Everything   #  s[:]  بتساوي  s
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [12]:
# Last letter (one index behind 0 so it loops back around) رجعلي اخر حرف 
s[-2]

'l'

In [66]:
# Grab everything but the last letter    رجعلي كله ماعدا اخر حرف 
s[:-1]

'Hello Worl'

In [67]:
s='123456789'

In [14]:
# Grab everything, but go in steps size of بنمشي بمقدار خطوة واحدة 
s[::7]
#s

'Ho'

In [15]:
# Grab everything, but go in step sizes of 2 بنشمي بمقدار خطوتين  يعني هيرجع رقم ويفوت رقم
s[::-3]

'dooe'

![alt text](https://boostupsocial.com/wp-content/uploads/2018/01/Question-Mark-280x280.png)



---


**Question:**
What do you think this `s[::-1]` do ?


---

***Answer:***........................................

In [ ]:
#تقتكر دي بترجع ايه ؟ 
s[::-1]

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced.


---


من أحد المميزات للسترينج انه بيبقى عنده خاصية امتناع انه يتغير 
يعني لو حبيت تغير حرف مثلا جواه متقدرش تعالى نشوف ازاي


---


 For example:

In [74]:
s

'123456789'

In [75]:
# Let's try to change the first letter to 'x'   محاولى لتغيير حرف الأول
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [80]:
s="123456789"
s

'123456789'

In [18]:
# Concatenate strings!
s + ' concatenate me!'
s

'Hello World'

In [82]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [83]:
print(s)

123456789 concatenate me!

In [84]:
s

'123456789 concatenate me!'

We can use the multiplication symbol to create repetition!

In [85]:
letter = 'z'

In [86]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.


---
في شوية خصائص عندك للأوبجيكت انت تقدر تستخدمها وهتحتاج بس منك انك تدخلها شوية براميترز  وبتكتبها بالشكل ده 


---
**object.method(parameters)**

In [ ]:
s

In [ ]:
# Upper Case a string     بيكبر كل حروف 
s.upper()

In [ ]:
# Lower case    بيصغر كل حروف 
s.lower()

In [87]:
# Split a string by blank space (this is the default)  
# الفانكشن دي مميزة جدا فكرة انك تقدر تفصل بيها الكلمات عن بعض وممكن تستخدمها فيما بعد كفيتشرز 
# الأساسي بتاعها و سيبت الأقواس فاضية انها تعمل فصل بالمسافة
s.split()

['123456789', 'concatenate', 'me!']

In [88]:
# Split by a specific element (doesn't include the element that was split on)
# تقدر تدخل أي حرف تاني وتفصل بيه 
# بس خد بالك الحرف اللي بتفصل بيه بيختفي من الجملة 
s.split('W')

['123456789 concatenate me!']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [90]:
'Insert another string with curly brackets: {}'.format(10) #دخل أي حاجة براحتك  بين القوسين وشوف

'Insert another string with curly brackets: 10'


## Challenge Two [Normal Package]:-

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

in this Challenge we need you to  Make a "Generic" Code
that by taking any Sentence as an input it will return 
two Sentences  which are splitted by the Middle Letter.

Examples :-
input = "harpy"
,output= ["ha" ,"py"] 

input="Mastery"
,output=["Mas","ery"]

input="He was Lucky"
,output=['He wa', ' Lucky']

Note: it will be only one code copy and paste it for the three cells.

In [101]:
x="harpy"
#Type your Code here !
Count_Chart=len(x)
num_split=(Count_Chart//2 )-((Count_Chart+1)%2)
x_char=x[num_split]
x.split(x_char)

['ha', 'py']

In [100]:
x="Mastery"
#Type your Code here !
Count_Chart=len(x)
num_split=(Count_Chart//2 )-((Count_Chart+1)%2)
x_char=x[num_split]
x.split(x_char)

['Mas', 'ery']

In [144]:
x="He was Lucky"
#Type your Code here !
Count_Chart=len(x)
num_split=(Count_Chart//2 )#-((Count_Chart+1)%2)
x_char=x[num_split]
x.split(x_char)

['He', 'was', 'Lucky']

##Challenge Two [Master Package]
Watch Out,
Try to Make a Code that can fit the 3 above and also this one 
Down below 

input ['He was Lusky']
Output["He wa','Lusky"]

In [102]:
x="He was Lusky"
#Type your Code here !
Count_Chart=len(x)
num_split=(Count_Chart//2 )-((Count_Chart+1)%2)
x_char=x[num_split]+x[num_split+1]
x.split(x_char)

['He wa', 'Lusky']

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

جميع القيم الموجودة فيها بتتعامل معاملة انها موجودة كمكان في خزنة ممكن تتبدل 

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [106]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [107]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [108]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [20]:
my_list = ['one','two','three']

In [21]:
# Grab element at index 0
my_list[0][0]

'o'

In [22]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three']

In [24]:
# Grab everything UP TO index 3
my_list[:2]

['one', 'two']

We can also use + to concatenate lists, just like we did for strings.

In [113]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [114]:
my_list

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [115]:
# Reassign
my_list = my_list + ['add new item permanently']

In [116]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [117]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [ ]:
# Again doubling not permanent
my_list

## Basic List Methods

Let's go ahead and explore some more special methods for lists:

In [25]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [47]:
# Append
list1.append('append me!')
list1[1]=5

In [48]:
# Show
list1

[1, 5, 'append me!', 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [26]:
# Pop off the 0 indexed item
list1.pop(2)

3

In [27]:
# Show
list1

[1, 2]

In [126]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [127]:
popped_item

2

In [129]:
# Show remaining list
list1

[1]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [130]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [131]:
new_list = ['a','e','x','b','c']

In [132]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [133]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [134]:
new_list

['c', 'b', 'x', 'e', 'a']

In [135]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [136]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [29]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [139]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [140]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [141]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

In [31]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[1] for row in matrix]

In [32]:
first_col

[2, 5, 8]

We used a list comprehension here to grab the first element of every row in the matrix object. We will cover this in much more detail later on!

For more advanced methods and features of lists in Python, check out the Advanced Lists section later on in this course!

# Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

![alt text](https://boostupsocial.com/wp-content/uploads/2018/01/Question-Mark-280x280.png)


---


**Question**
What is the difference between Mapping and Sequence ?


---

**Answer** :.....................................

In [145]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [146]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [33]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [148]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [34]:
# Can call an index on that value
my_dict['key3'][0]

TypeError: 'int' object is not subscriptable

In [150]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [151]:
my_dict['key1']

123

In [152]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [153]:
#Check
my_dict['key1']

0

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [154]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [155]:
# Create a new dictionary
d = {}

In [45]:
# Create a new key through assignment
d['animal'] = 'Dog4'

In [157]:
# Can do this with any object
d['answer'] = 42

In [158]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [159]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [162]:
# Keep calling the keys
d['key1']['nestkey']

{'subnestkey': 'value'}

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [165]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [166]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [167]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [168]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

## Challenge Three 

This is a Challenge for your understanding of indexing for lists and Dictionaries

![alt text](https://www.awai.com/_img/content/2018/05/how-to-build-your-business-with-a-30-day-challenge/001.jpg)

In [169]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [170]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [37]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'] [1][0]

['hello']

In [181]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [38]:
# Create a tuple
t = (1,2,3,4)

In [39]:
# Check len just like a list
len(t)

4

In [40]:
# Can also mix object types
t = ('one',2,'one1')

# Show
t

('one', 2, 'one1')

In [42]:
# Use indexing just like we did in lists
t[0]

'one'

In [43]:
# Slicing just like a list
t[:-1]

('one', 2)

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [192]:
# Use .index to enter a value and return the index
t.index('one')

0

In [193]:
# Use .count to count the number of times a value appears
t.count('one')

2

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [194]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [195]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples

**When immutability is necessary**. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Another Usage for Tuples is for **"Memory or Record "** purpose, that you need to save and keep its values.

Up next Sets and Booleans!!

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of ***unique*** elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [196]:
x = set()

In [197]:
# We add to sets with the add() method
x.add(1)

In [198]:
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [199]:
# Add a different element
x.add(2)

In [200]:
#Show
x

{1, 2}

In [201]:
# Try to add the same element
x.add(1)

In [202]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [60]:
# Create a list with repeats
list1 = [1,1,1,1,1,3,2,4,5,6,1,1]
list1

[1, 1, 1, 1, 1, 3, 2, 4, 5, 6, 1, 1]

In [63]:
# Cast as set to get unique values
k=set(list1)
w=next(iter(k))
d=next(iter(k))
#x
for a in k:
    print(a)

1
2
3
4
5
6

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [214]:
# Set object to be a boolean
a = True

In [215]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [216]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [217]:
# None placeholder
b = None

In [218]:
# Show
print(b)

None

# Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

Let's look at a few examples of using chains:

In [219]:
1 < 2 < 3

True

The above statement checks if 1 was less than 2 **and** if 2 was less than 3. We could have written this using an **and** statement in Python:

In [223]:
1<2 and 2<3

True

The **and** is used to make sure two checks have to be true in order for the total check to be true. Let's see another example:

In [224]:
1 < 3 > 2

True

In [225]:
g= 1<3>2
k= 1<5  and 5 >2 
y= g and k
y

True

The above checks if 3 is larger than both of the other numbers, so you could use **and** to rewrite it as:

In [222]:
1<3 and 3>2

True

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python. For example:

In [221]:
1==2 or 2<3

True

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true. Let's see one more example to drive this home:

In [74]:
ASCII('h')

NameError: name 'ASCII' is not defined

Please Check these Games:- 
- Solve As Many Puzzles As Possible-

Treasure Map
[Let's Play](https://www.101computing.net/blackbeard-treasure/?fbclid=IwAR36h09E9wg9OckTTpuDcDcf8Qp-aCt8ThxyO1Hs-avNbm_bZj5oG5kLW8M)